@use '../_responsive' as responsive;

/************************ Div qui affiche mon contenu ***********************/


@keyframes softGlitch {
  0%, 100% {
    transform: translate(0, 0);
    clip-path: inset(0 0 0 0);
  }
  10% {
    transform: translate(-1px, 0);
    clip-path: inset(30% 0 60% 0);
  }
  20% {
    transform: translate(1px, 1px);
    clip-path: inset(60% 0 30% 0);
  }
  30% {
    transform: translate(-0.5px, -1px);
    clip-path: inset(10% 0 85% 0);
  }
}

.main-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(2px);
  width: 60vw;
  height: 80vh;
  border: 2px solid #00ffff;
  box-shadow: inset 0 0 200px #00ffff25;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  animation: showContainer 1.75s ease-in-out 1;
  &::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgba(0, 255, 255, 0.05) 3px
    );
    animation: softGlitch 8s infinite ease-in-out;
    z-index:-1;
    mix-blend-mode: screen;
  }
  main{
    position: relative;
    height:100%;
    width:80%;
  }

 @media (max-width: responsive.$desktop) {
    width: 80vw;
    height: 70vh;
  }

  @media (max-width: responsive.$mobile) {
    width: 80vw;
    height: 70vh;
    border-width: 1px;
    top: 10%;
  }

}

@keyframes showContainer{
  0%{transform:translateY(-100%) translateX(-50%)}
  100%{transform:translateY(0%) translateX(-50%)};
}

