<div class="background">
<div class="space-background"></div>
<div class="grid-background">
</div>
<div class="planet-container">
  <div class="planet planet-1"></div>
  <div class="planet planet-2"></div>
  <div class="planet planet-3"></div>
  <div class="bright-star bright-star-1"></div>
  <div class="bright-star bright-star-2"></div>
  <div class="bright-star bright-star-3"></div>
  <div class="bright-star bright-star-4"></div>
  <div class="bright-star bright-star-5"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
</div>
<div class="scanline-wrapper">
  <div class="scanline"></div>
</div>
<div class="relay-container">
  <div class="relay-blue-light"></div>
  <img src="assets/relay.png" alt="Relai cosmodésique" class="relay-image" />
</div>
</div>

<header class="header">
  <ul>
    <li>"Ce dev' est mon preferé de toute la citadelle !" - Commandant Shepard.</li>
    <li>Le propriétaire du X-Wing mal garé est prié de se rendre à la baie de lancement.</li>
    <li>Un trou de ver confondu avec un donut, on compte seulement un porté disparu.</li>
    <li>"Bip boop bip bip" - Bip le robot.</li>
    <li>Un Tamagotchi retrouvé vivant dans une capsule Voyager — il réclame à manger depuis 1998.</li>
    <li>Un Nokia 3310 dévié de son orbite, jugé trop dangereux pour le système solaire.</li>
    <li>Un Wizz a été détecté à proximité d'un trou noir... MSN aurait-il franchi la barrière du temps ?!</li>
    <li>"Exterminééééééééé" - ???????</li>
  </ul>
</header>

<div class="main-container">
  <aside>
  <nav class="space-nav">
    <a
    class="space-menu-item"
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="dot dot--green" routerLinkActive="dot--active" [routerLinkActiveOptions]="{ exact: true }"></span>
    <span class="link-text">Accueil</span>
  </a>

  <a
    class="space-menu-item"
    [routerLink]="['/projets']"
    routerLinkActive="active"
  >
    <span class="dot dot--yellow" routerLinkActive="dot--active"></span>
    <span class="link-text">Projets</span>
  </a>

  <a
    class="space-menu-item"
    [routerLink]="['/contact']"
    routerLinkActive="active"
  >
    <span class="dot dot--orange" routerLinkActive="dot--active"></span>
    <span class="link-text">Contact</span>
  </a>
  </nav>
</aside>
<main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
</main>
<footer class="main-container-footer">
  <div class="icons-screen" #iconScreen>
     <div
    *ngFor="let icon of icons; let i = index"
    #iconDiv
    class="round-placeholder"
    [attr.data-index]="i"
  ></div>
  </div>
</footer>
</div>

<footer class="footer">
  <div class="screen-header audio-container"><audio #audioPlayer autoplay (timeupdate)="updateTime()" (loadedmetadata)="initAudio()">
    <source src="assets/audio/Stay-slowed-reverb.mp3" type="audio/mpeg">
  </audio>

  <button (click)="toggleLecture()">
    {{ isPlaying ? '⏸️ Pause' : '▶️ Lecture' }}
  </button>

  <!-- Barre de progression -->
  <input class="range"
    type="range"
    [value]="currentTime"
    [max]="duration"
    (input)="seek($event)"
  />  <p>{{ formatTime(currentTime) }} / {{ formatTime(duration) }}</p>

  <!-- Volume -->
  <input class="volume"
    type="range"
    min="0"
    max="0.10"
    step="0.001"
    [value]="volume"
    (input)="changerVolume($event)"
  />

 </div>
  <div class="screen-header">Profil</div>
  <div class="links-container">
    <a href="https://github.com/Ragum02" class="cyber-link">
      <span class="link-icon"><i class="fab fa-github"></i></span>
      <span class="link-text">GitHub> /ragum</span>
    </a>
    <a href="https://www.linkedin.com/in/benjamin-souiket-216007177/" class="cyber-link">
      <span class="link-icon"><i class="fab fa-linkedin"></i></span>
      <span class="link-text">LinkedIn> /benjamin</span>
    </a>
    <a href="mailto:benjamin.souiket@gmail.com" class="cyber-link">
      <span class="link-icon"><i class="far fa-envelope"></i></span>
      <span class="link-text">Contact> Send Email</span>
    </a>
  </div>
</footer>
