<div class="home-container">
  <h1 class="home-container-title"> Bienvenue sur mon Portfolio !</h1>
  <div class="home-container-text">
    <p>Moi, c'est Benjamin,</p>
     <p>En reconversion professionnelle, j'ai suivi une formation <strong>"Concepteur Développeur d'Applications"</strong> chez <strong>O'clock</strong>.
      Ça m'a permis d'améliorer mes compétences en <strong>HTML, CSS, JavaScript</strong>, de renforcer mes connaissances sur les méthodes de travail (<strong>Kanban, SCRUM, Agile…</strong>) et de découvrir pas mal de nouvelles choses comme :
       <strong>la conception (MERISE, UML...)</strong>, <strong>TypeScript</strong>, <strong>Node.js avec Express</strong>, <strong>PostgreSQL, MongoDB</strong>,
       <strong>React</strong>, les CMS headless avec <strong>Strapi</strong>, les tests unitaires et E2E, l'architecture <strong>(microservices et monolithique)</strong>,
       etc...</p>
     <p>À titre perso, j'ai aussi utilisé <strong>Wix</strong>, <strong>Nest.js</strong>,
      <strong>Next.js</strong>, les <strong>WebSockets</strong>, ainsi que <strong>Laravel</strong> et <strong>Angular</strong>
      (notamment pour ce portfolio).</p>
     <p>Depuis toujours, je touche à l'informatique : mettre les mains dans des fichiers XML pour des serveurs privés Lineage 2 ou WoW, modifier des maps/mods pour Counter-Strike 1.6 et Source,
      créer des petits sites avec des templates PHP et les uploader sur les FTP gratuits de chez Free…</p>
      <p>J'ai aussi passé des heures sur le Site du Zéro,
        bidouillé de la 3D sur Blender, monté des vidéos avec Windows Movie Maker et Sony Vegas, gribouillé sur Photoshop, etc.</p>
        <p>Je suis curieux et touche-à-tout depuis toujours. Pour moi, la démocratisation de l'IA est une bénédiction : plus de savoir, plus vite, à portée de main.</p>
  </div>
</div>
