<div class="home-container">
	<h1 class="home-container-title loading-title glitch-effect" data-text="> SYSTEME.ONLINE > FULLSTACK_DEVELOPER_01">
		> SYSTEME.ONLINE > FULLSTACK_DEVELOPER_01</h1>
	<div class="home-container-text">
		<p>Hello there, Moi c'est Benjamin.</p>
		<p>En reconversion professionnelle, j'ai suivi la formation
			<strong>Concepteur Développeur d'Applications</strong>
			chez
			<strong>O'clock</strong>, où j'ai consolidé mes compétences en
			<strong>HTML, CSS, JavaScript</strong>
			et découvert
			<strong>TypeScript, Node.js, React, PostgreSQL, MongoDB</strong>, ainsi que les CMS headless comme
			<strong>Strapi</strong>.</p>
		<p>Passionné par les nouvelles technologies, j'ai également expérimenté
			<strong>Next.js, Nest.js, Laravel, Angular</strong>
			et les
			<strong>WebSockets</strong>. Curieux et polyvalent, je m'intéresse à tout ce qui touche au développement et à l'innovation.</p>
	</div>
</div>

