<div class="home-container">
  <h1 class="home-container-title"> Bienvenue sur mon Portfolio !</h1>
  <div class="home-container-text">
  <p>Moi, c'est Benjamin, </p>
  <p>Depuis tout petit, je touche à l'informatique, mettre les mains dans des fichiers XML pour un serveur privé Lineage 2, WoW, toucher aux maps/mods pour Counter-Strike 1.6 et Source,
    créer de petits sites grâce à des templates PHP et les uploader sur les FTP gratuits fournis par FREE, lire des centaines de tutos sur le Site du Zéro, de la 3D avec Blender,
    du montage avec Windows Movie Maker et Sony Vegas, des gribouillages avec Photoshop, etc...

    Je suis très curieux et un touche-à-tout depuis toujours et ça ne change pas. Pour moi, la démocratisation de l'IA est une bénédiction : plus de savoir et plus rapidement à portée de main !
  </p>
  <span>
  J'ai suivi une formation en tant que Concepteur Développeur d'Applications chez O'clock.
  </span>
  <p>Cela m'a permis d'améliorer mes compétences en HTML, CSS, JavaScript, de renforcer mes connaissances à propos des méthodes de travail (Kanban, SCRUM, Agile...)</p>
  <p>Et de découvrir de toutes nouvelles choses telles que tout ce qui touche à la conception (MLD, ERD, Use cases), TypeScript, Node.JS avec Express, React, les CMS Headless avec Strapi, les tests unitaires et E2E,
     et bien d'autres choses !</p>

     <p>À titre personnel, j'ai aussi utilisé Wix et touché du bout des doigts Nest.JS / Next.Js / les WebSockets pour un projet (WIP), ainsi que Laravel et Angular pour ce portfolio.</p>
  </div>
</div>
