@use '../core/layout/header/header.component.scss';
@use '../../_responsive' as responsive;

.home-container{
  width:100%;
  height:80%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin:2em 0;

       @media (max-width:  responsive.$mobile){
        font-size: 1.2em;
        margin-top: 5em;
        text-align: center;
    }
  }


         @media (max-width:  responsive.$mobile){
          height: 95%;
    }

  .home-container-text{
    strong{
      font-weight: 500;
      font-size: 1.25em;
      animation:glitch 12s alternate-reverse infinite;
    }
    background-color: rgba(128, 128, 128, 0.253);
    border: 1px solid grey;
    align-self: flex-end;
    margin-right:3em;
    overflow-y:scroll;
    padding:2em;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:2em;

       @media (max-width:  responsive.$mobile){
        font-size: 14px;
         width: 95%;
         margin:0 auto;
        padding:10px;
        text-align: center;
        overflow-y: scroll;
       -webkit-overflow-scrolling: touch;
       strong{
        font-size: 16px;
       }
    }
  }
}



