<header class="header">
  <ul>
    <li>"Ce dev' est mon preferé de toute la citadelle !" - Commandant Shepard.</li>
    <li>Le propriétaire du X-Wing mal garé est prié de se rendre à la baie de lancement.</li>
    <li>Un trou de ver confondu avec un donut, on compte seulement un porté disparu.</li>
    <li>"Bip boop bip bip" - Bip le robot.</li>
    <li>Un Tamagotchi retrouvé vivant dans une capsule Voyager — il réclame à manger depuis 1998.</li>
    <li>Un Nokia 3310 dévié de son orbite, jugé trop dangereux pour le système solaire.</li>
    <li>Un Wizz a été détecté à proximité d'un trou noir... MSN aurait-il franchi la barrière du temps ?!</li>
    <li>"Exterminééééééééé" - ???????</li>
  </ul>
</header>
