@use '../../../../_responsive' as responsive;

.header {
  background: transparent;
  padding: 1em 0;
  width: 100vw;
  height: 3vh;
  border: 2px solid #00ffff;
  box-shadow: inset 0 0 2000px #00ffff25;
  overflow: hidden;
  animation:headerSlide 2s linear 1;
  ul {
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    gap: 85em;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    animation: newsSlider 180s infinite linear;
    padding: 0 2em;

    li {
      font-size:0.9em;
      text-transform: uppercase;
      animation: glitch 6s infinite linear alternate-reverse;
      position: relative;
    }

    @media (max-width: responsive.$tablet) {
      gap: 40em;
      padding: 0 1em;
    }

    @media (max-width: responsive.$mobile) {
      gap: 20em;
      padding: 0 0.5em;

      li {
        font-size: 0.7em;
      }
    }
  }
    @media (max-width: responsive.$tablet) {
    height: 4vh;
  }

  @media (max-width: responsive.$mobile) {
    height: 5vh;
    padding: 0.5em 0;
  }
}

@keyframes headerSlide{
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translate(0%)
  }
}

@keyframes glitch {
  0% {
    text-shadow: 1px 0 violet, -1px 0 blue;
  }
  20% {
    text-shadow: -1px 0 violet, 1px 0 blue;
  }
  40% {
    text-shadow: 2px 0 violet, -2px 0 blue;
  }
  60% {
    text-shadow: -2px 0 violet, 2px 0 blue;
  }
  80% {
    text-shadow: 3px 0 violet, -3px 0 blue;
  }
  100% {
    text-shadow: -3px 0 violet, 3px 0 blue;
  }
}

@keyframes newsSlider{
  0%{
    transform: translateX(110%)
  }
  100%{
    transform: translateX(-900%)
  }
}
