/* Fond étoilé */
.space-background {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%);
  z-index: -3;
  overflow: hidden;
}


.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  z-index: -2;
  animation: displayGrid 2s linear 1,
  scrollingGrid 60s linear infinite forwards;
}

@keyframes displayGrid {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes scrollingGrid {
  0% {
background-position: 0;
  }
  100% {
background-position: 10px 0 0 0;
  }
}

/* Planètes réalistes */
.planet-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  .planet {

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 30px;
    animation: rotate 45s infinite linear;
    box-shadow:
      0 0 30px rgb(0, 0, 0, 0.8),
      inset -10px -10px 60px rgba(0, 0, 0, 0.6);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.488), transparent 60%);
      mix-blend-mode: screen;
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: radial-gradient(circle at 70% 70%, rgba(0, 0, 0, 0.555), rgb(255, 255, 255) 90%);
      mix-blend-mode: multiply;
      pointer-events: none;
    }
  }

  @keyframes rotate {
    0%   { background-position: 0%, 0%, 0%; }
    100% { background-position: 100%, 100%, 100%; }
  }

  // Spécificité des planètes
  .planet-1 {
    width: 70px;
    height: 70px;
    top:500px;
    left:100px;
    background-image: url('/assets/neptune.jpg');
  }

  .planet-2 {
    width: 90px;
    height: 90px;
    left:1000px;
    background-image: url('/assets/jupiter.jpg');
  }

  .planet-3 {
    width: 70px;
    height: 70px;
    top:60%;
    left:80%;
    background-image: url('/assets/mars.jpg');
  }
}



/* Étoiles brillantes */
.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation:
  fadeInOut 5s ease-in-out forwards,
  twinkle 3s infinite ease-in-out;
  filter: drop-shadow(0 0 2px white);
  z-index: -1;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.5); }
  10% { opacity: 1; transform: scale(1); }
  80% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.3); }
}

.bright-star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 8px white;
  animation: twinkle 6s infinite alternate ease-in-out;

  &.bright-star-1 { top: 10%; left: 30%; animation-delay: 0s; }
  &.bright-star-2 { top: 20%; right: 20%; animation-delay: 0.5s; }
  &.bright-star-3 { top: 35%; left: 60%; animation-delay: 1s; }
}

@keyframes twinkle {
0%, 100% { opacity: 0.3; transform: scale(1); }
50% { opacity: 1; transform: scale(1.6); }
}


  /* Étoiles filantes */
  .shooting-star {
    position: absolute;
    width: 2px;
    height: 50px;
    background: linear-gradient(white, transparent);
    top: -10%;
    left: 50%;
    transform: rotate(210deg);
    opacity: 0;
    animation: shoot 25s linear infinite;
  }

@keyframes shoot {
  0% { transform: translate(0, 0) rotate(210deg); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translate(-700px, 1000px) rotate(210deg); opacity: 0; height:10px; }
}


.scanline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(0, 91, 209, 0.2);
  opacity: 0.5;
  pointer-events: none;
  animation: scanline 12s linear infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

.relay-container {
  position: fixed;
  top: 70%;
  left: -30px;
  width: 100px;
  pointer-events: none;
  opacity: 0.8;
  animation: relayFloat 600s linear infinite;
  background:transparent;
}
.relay-blue-light{
  transform: translate(14%, 118%);
  opacity: 0.7;
  background: radial-gradient(circle at 50% 50%, #00ffff, transparent 30%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.relay-image {
  width: 100%;
  height: auto;
  background:transparent;
}

@keyframes relayFloat {
  0% {
    transform: translate(0)
  }
  100% {
    transform: translate(100vw)
  }
}

