<div class="projects-container">
  <h1 class="projects-title">Voici mes projets: </h1>
  <div class="carousel"
     (touchstart)="onTouchStart($event)"
     (touchmove)="onTouchMove($event)"
     (touchend)="onTouchEnd()">

    <article *ngFor="let project of projects; let i=index" [ngClass]="{'article-active' : selectedIndex === i}" class="fade">
      <figure>

      <img [src]="fullImageUrl(project.image)" alt="Image du projet {{ i + 1 }}"  loading="lazy"/>
      <figcaption>
        {{project.name}}</figcaption>
        </figure>
        <div class="tags-container">
        <div
           class="tag"
           *ngFor="let tag of project.tags"
           [style.background-image]="'url(' + fullImageUrl(tag.icon) + ')'">
        </div>
        </div>
        <div class="article-text">
        <p style="white-space: pre-line; margin: 0; padding: 0; display: block;">{{project.content}}</p>
      </div>
        <a [href]="project.url" target="_blank" rel="noopener noreferrer">Lien vers > <span class="glitch-effect">{{project.name}}</span></a>

    </article>
    <div
    *ngIf="projects.length > 1"
    class="carousel-indicators-container">
      <span class="arrow left-arrow"
      tabindex="0"
      (click)="previousImage()"
      (keyup)="onKeyUp($event)"><</span>
      <span *ngFor="let indicator of projects; let i=index" class="indicator" [ngClass]="{'active' : selectedIndex === i}" (click)="selectImage(i)">
      </span>
      <span class="arrow right-arrow"
      tabindex="0"
      (click)="nextImage()"
      (keyup)="onKeyUp($event)">></span>
    </div>
</div>
