.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 280px;
  background: transparent;
  border: 2px solid #00ffff;
  box-shadow: inset 0 0 50px #00ffff25;
  border-radius: 5px;
  padding: 15px;
  color: #e0ffff;
  z-index: 100;
}

.screen-header {
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #00ffff;
  font-weight: bold;

    button{
      color:black;
    }
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.cyber-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  border-left: 2px solid #00ffff;
  transition: background-color 0.2s;

}

.cyber-link:hover {
  background-color: rgba(0, 255, 255, 0.1);
}

.link-icon {
  margin-right: 10px;
  width: 20px;
  text-align: center;
  color: #00ffff;
}

.link-text {
  font-size: 0.75em;
}


.audio-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap:0.5em;
  input[type=range].range{
    border-radius: 3px;
    appearance: none;
    padding: 0;
    outline: none;
    border: 3px solid rgb(122, 122, 122);
    background-color: transparent;
    box-sizing: border-box;
  }
  input[type=range].volume{
    margin: 0 4em;
  }
   .range{
    width:100%;
   }

}
